<div class="text-center">
  <h1>質問作成</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @question, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
      
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :title, "教科" %>
          <%= f.select :subject_id, Subject.all.map { |subject| [subject.name, subject.id]}, {}, {class: 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :content, "質問" %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <%= f.submit "投稿", class: 'btn btn-primary btn-block' %>
      <% end %>
  </aside>
</div>